img{
    width: 70px;
    height: 60px;
    border-radius: 30px 30px ;

}
.bakgd-color{
    background-color: aquamarine;
   }
   .twins.taiwo{
       color: brown;
   }
   
.twins{   
   font-size: 30px;
}